/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap');

$Roboto_Black: 'Roboto', sans-serif;
$RaleWay: 'Raleway', sans-serif;
$Open_Sans_Bold: 'Open Sans', bold;

/*FONT PARAMETERS*/
$text_size_sublilte: 18px;
$text_size_main_titile: 60px;
$text_size_second_title: 36px;
$text_size_second_subtitle: 24px;
$text_size_main_text: 14px;
$text_size_button: 14px;

$RaleWay_Medium_wght: 500;
$RaleWay_Regular_wght: 400;
$Roboto_Black_wght: 900;
$Open_Sans_Bold_wght: 700;
$color_main_title: #ffcc00;
$color_other_text: #666666;

/*END FONT PARAMETERS*/

$background_color: #ffffff;
$color_border_icons: #d1d1d1;
$color_arrow_hover: #666666;
