* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans Unicode'; 
     }
body {
    color: white;
    background-color: #3399cc;
}

.main-title {
        text-align: left;
        font-size: 17px;
        }
.list-city {
    display: inline-block;
    transition: all .1s ease-in;
    list-style-type: none;
}

li {
    border: 2px solid white;
    margin:0;
    display: inline-block;
}
.deg {
font-size: 14px;
}
.wi-icon {
    vertical-align: middle;
    width: 23px;
    height: 23px;
}
.final-text {
    font-size: 17px;
    
}

