.content--red
{
    background-color: red;
}
.content--green {
    background-color: green;
    min-height: 75px;
}
.content--black {
    background-color: darkkhaki;
    min-height: 150px;
}
div {
    padding: 30px;
    border: 1px solid black; 
}
h1 {
    margin: 0;
}
.main-content {
    align-items: flex-end;
    min-height: 300px;
    display: flex;
    border: 1px solid black;
    background-color: darkseagreen;
    border-radius: 3px;
    justify-content: space-around
}