.about-us {
    background-color: $color_background_about-us;
    padding-top: 78px;
    padding-bottom: 74px;
}
.about-us__title {
    color: $font_color_light;
    @include Raleway_Bold_90;
}
.about-us__text-top, .about-us__text-bottom {
    color: $font_color_light;
    @include Raleway_Light_17;
}
.about-us__text-top{
    margin-bottom: 24px;
}
