
/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700;900&display=swap');
$Raleway: 'Raleway', sans-serif;


/*COLORS FONTS*/
$font_color_dark: #262626;
$font_color_light: #ffffff;
$font_color_input:#afafaf;
$font_color_red: #f12b55;

/*BACKGROUND COLOR SECTION*/
$color_background_about-us:#00b8b8;
$color_background_our-servises: #70bfff;
$color_background_gallery: #ffe92f;
$color_background_blog: #b07cf7;
$color_background_footer: #262626;

/*BACKGROUND COLOR BUTTON*/
$color_button_header: #ff6033;
$color_button_gallery: #5585a2;
$color_button_subscribe: #96b92c;
$color_button_blog: #f72b3b;

/*FONT WIGHT*/ 
$font_wight_regular: 300;
$font_wight_bold: 700;
$font_wight_heavy: 900;

/*COLOR FORM CONTACTS*/
$color_input_focus: #00c4c4;
$color_input_non-focus: #67d2d6;

$color_our-servises_items: #ffffff;
$color_hover_button: #262626;
$color_top_line: #ff6033;
$color_border_our_servises: #9d9d9d;