/* FONTS */ 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap'); 
$Quicksand_Bold: 'Quicksand', bold;
$Quicksand_Regular: 'Quicksand', regular;
$Font_size_bold: 18px;
$Font_size_regular: 13px;

$first_gradient_color: #2e21a9;
$second_gradient_color: #c471d8;
$main_background_color: #e5eeee;
$border_select_color: #e66a64;

$text_color: #fbf6e4;
$text_color_not_active: #d1a9e8;
$text_color_bottom_links: #9e97c6;
$background_color_button: #23ae92;
$text_color_bottom_part: #B9B9CC;