@import "vars";
@import "mixins";
@import "common";

body {
    padding: 50px 200px 50px 200px;
    @include Flex_center;
    background-color: $main_background_color;
}
.wrapper {
    min-width: 400px;
    min-height: 460px;
    background: url(../img/bg-img.png)  no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 55px 70px 55px 70px;
}
.wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: linear-gradient(45deg,$first_gradient_color, $second_gradient_color);
    opacity: 0.85;
}
.select-legend {
    position: relative;
    z-index: 3;
   
}
.select-legend__list {
    display: flex;
    list-style: none;
    margin-bottom: 50px;
}
.select-legend__items {
    @include font_form;
}
.select-legend__a {
    text-decoration: none;
    margin-right: 26px;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}
.select-legend__a--checked {
    border-bottom: 2px solid $border_select_color;
}
.select-legend__a--not-checked {
    color: $text_color_not_active;
}
.select-legend__a--not-checked:hover{
    transition: 0.5s ease-in ;
    border-color: $border_select_color;
    color: $text_color;
}
.select-legend__a--checked:hover {
    border-color: transparent;
}
.main-form {
    position: relative;
    z-index: 3;
}
.main-form__label {
    margin-bottom: 10px;
    @include font_form;
}
.main-form__input-fields-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}
.main-form__input {
    @include font_form;
    color: $text_color;
    outline: none;
    background-color: transparent;
    border: 2px solid #a188c9;  
    padding: 5px;
}       
.main-form__checkbox-wrapper {
    @include font_form;
    margin-bottom: 40px;
}
.main-form__label--checkbox {
    padding-left: 23px;
}

/*CHEXBOX STYLE*/ 
.main-form__checkbox-wrapper input[type="checkbox"] {
    opacity: 0;
}
.main-form__checkbox-wrapper label {
    position: relative;
    display: inline-block;
    padding-left: 7px;
    cursor: pointer;
}
.main-form__checkbox-wrapper label::before,
.main-form__checkbox-wrapper label::after {
    position: absolute;
    content: "";
    display: inline-block;
}
.main-form__checkbox-wrapper label::before{
    height: 17px;
    width: 17px;
    left: -17px;
    top: 0px;
    background-color: $background_color_button;
}
.main-form__checkbox-wrapper label::after {
    height: 8px;
    width: 7px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: -13px;
    top: 2px;
    cursor: pointer;
}
.main-form__checkbox-wrapper input[type="checkbox"] + label::after {
    content: none;
}
.main-form__checkbox-wrapper input[type="checkbox"]:checked + label::after {
    content: "";
}
/*CHECKBOX*/ 


.main-form__btn {
    color: $text_color;
    font-size: $Font_size_bold;
    font-family: $Quicksand_Bold;
    border: none;
    background-color: $background_color_button;
    padding-left: 100px;
    padding-right: 100px;
    border: 2px solid transparent;
    margin-bottom: 33px
}
.main-form__btn:hover {
    cursor: pointer;
    transition: all 0.4s ease;
    border: 2px solid $border_select_color;
}
.bottom-part {
    position: relative;
    z-index: 3;
}
.bottom-part__list {
    display: flex;
    list-style: none;
}
.bottom-part__list--items-a {
    color: $text_color_bottom_part;
    font-family: $Quicksand_Regular;
    font-size: $Font_size_regular;   
}
.bottom-part__list--items-a:first-child {
    margin-right: 28px;
}


/*VALIDATE*/
input[type="text"]:valid {
    border: 2px solid green;
}