*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
 header {
 background-color: #4a4f56;
 margin-left: 24px;
 margin-right: 24px;
  } 
 
.title-header {
    padding-top: 25px;
    margin-bottom: 0px;

    }
.subtitle-header {
    padding-bottom:25px ;
    margin-top: 0px;
    margin-bottom: 0px;;
 
}
.title-header, .subtitle-header {
    color: #eb7e7f;
    text-align: center;
    }
main {
     margin: 0 24px 24px 24px;
    background-color: #3b3f45;
    margin-top: 0px;
}
    
form {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    transition: all .1s ease-in;
    }
ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    }
ul [type="checkbox"] {
        vertical-align: middle;
}
    
.coment {
    font-size: 16px;
    }
label {
    box-sizing: border-box;
        display: block;
    }
li {
    background-color: #88839e;
    color: #f9f9ed;
    padding-top: 23px;
    padding-bottom: 23px;
    }
li:nth-child(odd) {
    background-color: #7a7593;
    }
button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    background-color: #4a4f56;
    cursor: pointer;
    }
.button-1 {
    color: #eb7e7f;
    font-size: 25px;
    text-align: center;
}    
/*animation */
ul>li:hover {
    box-sizing: border-box;
    background-color: #625e77;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    }
input:checked + span {
    text-decoration: line-through;
    }
input:checked + span+ span {
    text-decoration: line-through;
    }
/*end animation*/