*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
 header {
    background-color: #4a4f56;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  } 
.title-header, .subtitle-header {
    color: #eb7e7f;
    text-align: center;
    display: block;
    }
.title-header {
    margin-top: 0px auto 20px;
     }
.subtitle-header {
    margin-top: 0px;
    margin-bottom: 0px;
 }
main {
    margin: 0 24px 24px 24px;
    background-color: #3b3f45;
    margin-top: 0px;
}
    
form {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    transition: all .1s ease-in;
    }
ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    }
ul [type="checkbox"] {
    vertical-align: middle;
}  
.coment {
    font-size: 16px;
    }
label {
    display: block;
    }
li {
    background-color: #88839e;
    color: #f9f9ed;
    padding-top: 23px;
    padding-bottom: 23px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-top-color: transparent ;
    border-bottom-color: transparent ;
    }
li:nth-child(odd) {
    background-color: #7a7593;
    }
button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    background-color: #4a4f56;
    cursor: pointer;
    color: #eb7e7f;
    font-size: 25px;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 23px;
    }
/*animation */
ul>li:hover {
    background-color: #625e77;
    border-color: white;
    }
input:checked + span {
    text-decoration: line-through;
    color:#9CA0B5
    }
input:checked + span+ span {
    text-decoration: line-through;
    color: #9CA0B5;
    }
    ul li:active {
        background-color: #eb7e7f ;
    }
/*end animation*/