    @font-face {
    font-family: Miso; /* Имя шрифта */
    src: url("../assets/fonts/miso.otf"); /* Путь к файлу со шрифтом */
    }
    @font-face {
    font-family: Lato; /* Имя шрифта */
    src: url("../assets/fonts/lato.ttf"); /* Путь к файлу со шрифтом */
    }
    @font-face {
    font-family: Miso-Bold; /* Имя шрифта */
    src: url("../assets/fonts/miso-bold.ttf"); /* Путь к файлу со шрифтом */
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    background-color: #fdde7e;
    font-size: 100%;
    max-width: 100%;
    padding: 27px 27px 27px 27px;
   height: 600px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;       
}
.card {
    border-top: 28px solid;
    border-bottom: 28px solid;
    border-top-color: #fdde7e ;
    border-bottom-color: #fdde7e ;
    flex-grow: 1;
    margin-right: 27px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content:space-evenly;
    transition: all .5s ease-in;
    }
.card:last-child {
    margin-right: 0px;
}
h1 {
    padding-top: 40px;
    color: #02995b;
    font-family: Miso-Bold;
    font-size: 47px;
}
h2 {
    font-family: Miso;
    font-size: 35px;
}
.litle-text {
    text-align: center;
}
h3 {
    font-family: Lato;
    font-size: 14px;
}
.all-image-card {
    text-align: center;
}   
.image-cup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 77px;
}
div.gold {
    background-image: url(../assets/images/cup-gold.png);
}
div.silver {
    background-image: url(../assets/images/cup-silver.png);
}
div.bronze {
    background-image: url(../assets/images/cup-bronze.png);
}
.img-bean {
    margin-right: 15px;
}
/* animation */
.card:hover {
  border-color: white;
}
    